In [6]:
#head()
import pandas as pd

r=pd.read_csv("copper.csv")
print(r.head(5))

   YEAR  WORLDCONSUMPTION  COPPERPRICE  INCOMEINDEX  ALUMPRICE  \
0  1951            3173.0        26.56         0.70      19.76
1  1952            3281.1        27.31         0.71      20.78
2  1953            3135.7        32.95         0.72      22.55
3  1954            3359.1        33.90         0.70      23.06
4  1955            3755.1        42.70         0.74      24.93

   INVENTORYINDEX  TIME
0            0.98     1
1            1.04     2
2            1.05     3
3            0.97     4
4            1.02     5

In [5]:
#tail()
import pandas as pd

r=pd.read_csv("copper.csv")
print(r.tail(5))

    YEAR  WORLDCONSUMPTION  COPPERPRICE  INCOMEINDEX  ALUMPRICE  \
20  1971            7071.7        45.16         1.02      25.46
21  1972            7754.8        42.50         1.07      22.17
22  1973            8480.3        43.70         1.12      18.56
23  1974            8105.2        47.88         1.10      21.32
24  1975            7157.2        36.33         1.07      22.75

    INVENTORYINDEX  TIME
20            0.96    21
21            0.97    22
22            0.98    23
23            1.01    24
24            0.94    25

In [7]:
#info
import pandas as pd

r=pd.read_csv("copper.csv")
print(r.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
YEAR                25 non-null int64
WORLDCONSUMPTION    25 non-null float64
COPPERPRICE         25 non-null float64
INCOMEINDEX         25 non-null float64
ALUMPRICE           25 non-null float64
INVENTORYINDEX      25 non-null float64
TIME                25 non-null int64
dtypes: float64(5), int64(2)
memory usage: 1.4 KB
None

In [8]:
r.dropna()

,YEAR,WORLDCONSUMPTION,COPPERPRICE,INCOMEINDEX,ALUMPRICE,INVENTORYINDEX,TIME
0,1951,3173.0,26.56,0.70,19.76,0.98,1
1,1952,3281.1,27.31,0.71,20.78,1.04,2
2,1953,3135.7,32.95,0.72,22.55,1.05,3
3,1954,3359.1,33.90,0.70,23.06,0.97,4
4,1955,3755.1,42.70,0.74,24.93,1.02,5
5,1956,3875.9,46.11,0.74,26.50,1.04,6
6,1957,3905.7,31.70,0.74,27.24,0.98,7
7,1958,3957.6,27.23,0.72,26.21,0.98,8
8,1959,4279.1,32.89,0.75,26.09,1.03,9
9,1960,4627.9,33.78,0.77,27.40,1.03,10
10,1961,4910.2,31.66,0.76,26.94,0.98,11
11,1962,4908.4,32.28,0.79,25.18,1.00,12
12,1963,5327.9,32.38,0.83,23.94,0.97,13
13,1964,5878.4,33.75,0.85,25.07,1.03,14
14,1965,6075.2,36.25,0.89,25.37,1.08,15
15,1966,6312.7,36.24,0.93,24.55,1.05,16
16,1967,6056.8,38.23,0.95,24.98,1.03,17
17,1968,6375.9,40.83,0.99,24.96,1.03,18
18,1969,6974.3,44.62,1.00,25.52,0.99,19
19,1970,7101.6,52.27,1.00,26.01,1.00,20
20,1971,7071.7,45.16,1.02,25.46,0.96,21
21,1972,7754.8,42.50,1.07,22.17,0.97,22
22,1973,8480.3,43.70,1.12,18.56,0.98,23
23,1974,8105.2,47.88,1.10,21.32,1.01,24
24,1975,7157.2,36.33,1.07,22.75,0.94,25

In [9]:
import pandas as pd

r=pd.read_csv("copper.csv")
r.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
dtype: bool